header {
    background-color: rebeccapurple;
}

body {
    margin: 0px;
}

div {
    background-color: rgb(227, 134, 80);
    color: rgb(105, 31, 0);
    text-align: center;
    text-decoration: underline black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px black double;
}
h3 {
    background-color: rgb(41, 203, 41);
    color: rgb(9, 90, 9);
    text-align: center;
    text-decoration: underline black;
}